.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.button{
  margin-top: 10px;
  padding: 5px;
  background-color: aqua;
  color: #282c34;
  border-radius: 5px;

}
.button :hover{
  cursor: pointer;
  color: darkslategray;

}
.navbar{
  background-color: #a1d8f7;
  color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul{
  display: flex;
  list-style-type: none;
  gap: 30px;
}
.container {
  margin-top: 30px;
  margin-left: 5rem;
  
  
  
}
*{
  background-color: #a1d8f7;

}
.teams,.results{
  margin-left: 5rem;
}

